body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri";
  background-color: #ffffff;
}

.store-logo {
  width: 80px;
  height: 60px;
    object-fit: contain;
}

.App-header {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
    justify-content: space-between;
    color: #e10736;
}
