body {
  margin: 0;
  padding: 0;
  font-family: "Calibri";
  background-color: #ffffff;
}

.store-logo {
  width: 10%;
  height: 1%;
  margin: 1%;
}

.App-header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 200%;
  text-align: center;
  margin-top: -5%;
}
